*{
    padding: 0;
    margin: 0;
}

html{
    background: rgb(39, 39, 39);
}

.homeMenu{
    color: wheat;
    text-align: center;
    margin-top: 2.5%;
    display: flex;
    justify-content: space-evenly;
}

.headerTitle{
    color: wheat;
    text-align: center;
    margin-top: 2.5%;
}